@charset "UTF-8";

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

.tabs-container {
    background-color: #23304f;
    padding: 10px 0;
    margin-top: 90px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-tabs {
    border-bottom: none;
}

.work-logo {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding-left: 40px;
    padding-right: 50px;
    margin-top: 6px;
}

.work-logo-small {
    font-size: 14px;
    font-weight: normal;
}

.nav-link {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
}

.nav-link.active {
    color: #ffffff;
    font-weight: bold;
    height: 45px;
    transform: scale(0.95);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.nav-link:hover {
    cursor: pointer;
    font-weight: bold;
    color: black;
    background-color: white;
    transition: .3s;
    z-index: 2;
}

