.login-area {
    width: 40%;
    height: 72%;
    margin: 0 auto;
    margin-top: 171px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #D1D1D1;
}

.input-field:focus {
    border: 2px solid #2E406A;
    outline: none;
    background-color: #f5f7ff;
}

.container-title {
    font-weight: bold;
    margin-top: 22px;
}

.container-p {
    margin-top: 30px;
}

hr {
    width: 77%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 38px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-field {
    width: 72%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    box-sizing: border-box;
    margin: auto;
    height: 53px;
}

.checkbox-group {
    display: flex;
    margin-bottom: 20px;
    margin-left: 69px;
}

.checkbox-group label {
    color: #8E8E8E;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 20px;
}

.login-btn {
    background-color: #2C3E50;
    border: 1px solid #6c757d;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    width: 67%;
    margin-top: 52px;
}

.auto-login {
    margin-left: 25px;
}

.login-btn:hover {
    background-color: #ffffff;
    border: 1px solid #6c757d;
    color: black;
    transition: .3s all;
}

.login-btn:active {
    transform: translateY(5px);
    transition: transform 1s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.login-footer {
    margin-top: 20px;
    font-size: 14px;
}

.login-footer span {
    color: #8E8E8E;
    margin-right: 30px;
}

.signup-link {
    color: #8E8E8E;
    text-decoration: none;
    font-weight: bold;
}

.signup-link:hover {
    text-decoration: underline;
}
