.container-area {
    width: 100%;
    height: 100%;
}

.common-title{
    font-weight: bold;
    margin-bottom: 52px;
}

.title-tab-area {
    width: 100%;
    height: 26%;
    text-align: center;
    margin-top: 150px;
}

.common-tab {
    width: 100%;
    height: 74px;
    display: flex;
    margin-top: 30px;
}

.common-btn {
    width: 25%;
    background-color: #E4EBFD;
    color: #5B5B5B;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #2E406A;
    border-collapse: collapse;
}

#authentication-tab {
    background-color: #2E406A;
    color: white;
}

.change-tab-contents-area {
    width: 100%;
    height: 100%;
}

.identity-verification {
    width: 100%;
    height: 100%;
}

.identity-verification-title {
    font-weight: bold;
    margin-bottom: 30px;
}

.identity-authentication-box {
    width: 100%;
    height: 42%;
    border: 1px solid #D4D4D4;
    border-radius: 10px;
    padding: 76px;
    text-align: center;
    align-items: center;
}

.common-text {
    font-size: 18px;
    font-weight: 400;
}

.authentication-btn {
    background-color: #2E406A;
    color: white;
    margin-top: 82px;
    width: 270px;
    height: 58px;
}

.authentication-btn:hover {
    background-color: white;
    color: black;
    transition: .3s all;
}

.modal-content {
    width: 600px;
}

.modal-body {
    height: 600px;
}

.body-header {
    width: 100%;
    height: 10%;
    text-align: center;
    color: #2E406A;
}

.body-header h3 {
    font-weight: bold;
}

.body-body {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-control {
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid gray;
}

.tel-input-wrap {
    display: flex;
}

#certNum-btn-area {
    display: none;
}

#certNum {
    width: 80%;
}

.body-footer {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.common-submit-btn {
    width: 100%;
    height: 60px;
    border-radius: 6px;
    background-color: var(--main-bg-color);
    justify-content: center;
    align-items: center;
    color: white;
}

#cert-btn {
    width: 20%;
}

.common-submit-btn:hover {
    transition: .3s all;
    border: 1px solid gray;
    border-radius: 6px;
    background-color: white;
    justify-content: center;
    align-items: center;
    color: black;
}

.common-submit-btn:active {
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}