<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yujigyeongseong.api.domain.announcement.dao.AnnouncementMapper">

    <select id="selectAcceptionAnnouncementList" resultType="Announcement">
        SELECT
            ann_no AS annno,
            total_ann_no AS totalannno,
            total_title AS totaltitle,
            competent_ministry AS competentministry,
            spec_institution AS specinstitution,
            ann_type AS anntype,
            sub_ann_count AS subanncount,
            reception_type AS receptiontype,
            status AS status,
            FORMATDATETIME(started_at, 'yyyy-MM-dd') AS startedat,
            closed_at AS closedat,
            created_at AS createdat,
            updated_at AS updatedat,
            bucket_no AS bucketno
        FROM
            announcement
        WHERE
            status = '접수중';

    </select>

    <select id="selectExpectedAnnouncementList" resultType="Announcement">
        SELECT
            ann_no AS annno,
            total_ann_no AS totalannno,
            total_title AS totaltitle,
            competent_ministry AS competentministry,
            spec_institution AS specinstitution,
            ann_type AS anntype,
            sub_ann_count AS subanncount,
            reception_type AS receptiontype,
            status AS status,
            FORMATDATETIME(started_at, 'yyyy-MM-dd') AS startedat,
            closed_at AS closedat,
            created_at AS createdat,
            updated_at AS updatedat,
            bucket_no AS bucketno
        FROM
            announcement
        WHERE
            status = '접수예정';
    </select>
    <select id="selectDeadLineAnnouncementList" resultType="Announcement">
        SELECT
            ann_no AS annno,
            total_ann_no AS totalannno,
            total_title AS totaltitle,
            competent_ministry AS competentministry,
            spec_institution AS specinstitution,
            ann_type AS anntype,
            sub_ann_count AS subanncount,
            reception_type AS receptiontype,
            status AS status,
            FORMATDATETIME(started_at, 'yyyy-MM-dd') AS startedat,
            closed_at AS closedat,
            created_at AS createdat,
            updated_at AS updatedat,
            bucket_no AS bucketno
        FROM
            announcement
        WHERE
            status = '접수마감';
    </select>
</mapper>
