.main {
    padding-top: 25px;
    padding-bottom: 80px;
}

.main h4, h5, h6 {
    font-weight: 600;
}

.main h6 {
    font-size: 17px;
}

.ctm-th {
    background-color: var(--main-bg-color) !important;
    color: white !important;
    font-size: 15px !important;
    text-align: center !important;
}

.ctm-th__sub {
    background-color: var(--sub-bg-color) !important;
    font-size: 15px !important;
    text-align: center !important;
}

.ctm-th__with-btn {
    width: 90%;
    margin: 0 auto;
    line-height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ctm-th__btn {
    width: 35px;
    height: 35px;
    background-color: white;
    border: 1.5px solid var(--main-bg-color);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ctm-th__btn:hover {
    background-color: var(--main-bg-color);
    color: white;
}

.ctm-w5p {
    width: 5% !important;
}

.ctm-w7p {
    width: 7% !important;
}

.ctm-w10p {
    width: 10% !important;
}

.ctm-w15p {
    width: 15% !important;
}

.ctm-w20p {
    width: 20% !important;
}

.ctm-w35p {
    width: 35% !important;
}

.ctm-w40p {
    width: 40% !important;
}

.ctm-w45p {
    width: 45% !important;
}

/*.ctm-h30p {*/
/*    height: 30% !important;*/
/*}*/

.ctm-td {
    text-align: center;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header-section__info {
    color: var(--red-color);
    font-size: 15px;
}

.header-section__btn {
    display: flex;
    align-items: center;
}

.body-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check-item-btn {
    height: 38px;
    width: 100%;
}

.check-item-btn__title {
    width: 90%;
}

.icon-warning {
    color: var(--red-color);
}

.icon-success {
    color: #60d33e;
}

.required-item {
    color: var(--red-color);
    font-weight: 700;
}

.ctm-f {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fz14 {
    font-size: 14px;
}