.main {
    padding-top: 25px;
}

.main h4, h5 {
    font-weight: 600;
}

.main h6 {
    font-weight: 600;
    font-size: 17px;
}

.multi-step-progress-bar {
    width: 100%;
    height: 125px;
    margin: 20px 0px 25px 0px;
    background-color: red;
}

.task-info-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.task-info__log {
    display: flex;
    align-items: center;
}

.ctm-th {
    background-color: var(--main-bg-color) !important;
    color: white !important;
    font-size: 15px !important;
    text-align: center !important;
}

.ctm-th__sub {
    background-color: var(--sub-bg-color) !important;
    /*color: white !important;*/
    font-size: 15px !important;
    text-align: center !important;
}

.ctm-w45p {
    width: 45% !important;
}

.ctm-w20p {
    width: 20% !important;
}

.ctm-w15p {
    width: 15% !important;
}

.ctm-td {
    text-align: center;
}

.sub-announcement-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.sub-announcement__info {
    color: #FF0000;
    font-size: 15px;
}

.sub-announcement-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check-item-btn {
    height: 38px;
    width: 100%;
}

.check-item-btn__title {
    width: 90%;
}

.icon-warning {
    color: #FF0000;
}

.icon-success {
    color: #60d33e;
}