.research_title {
    height: 200px;
    width: 100%;
    align-content: center;
}

.research_title p {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.academic-info {
    height: 300px;
    width: 100%;
}

.career-info {
    margin-top: 40px;
    height: 300px;
    width: 100%;
}

.title_warning {
    display: flex;
    justify-content: space-around;
}

.title {
    font-size: large;
    font-weight: bold;
}

.warning {
    margin-left: 1000px;
    color: #FF0000;
    font-weight: bold;
}

hr {
    height: 2px; /* 굵기 조절 */
    background-color: #000000; /* 색상 변경 */
    border: none; /* 기본 테두리 제거 */
    margin-top: 5px; /* 상단 여백 */
    margin-bottom: 5px; /* 하단 여백 */
    opacity: unset;
}

.academic-list {
    display: flex;
}

.list {
    width: 100%;
    height: 200px;
    align-content: center;
}

.warn {
    color: #FF0000;
    font-weight: bold;
}

.inline-wrap {
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    margin-top: 40px;
    margin-left: 30px;
}

.form-select {
    margin-left: 50px;
    width: 400px;
    height: 40px; /* 높이를 40px로 설정 */
    padding: 5px 10px; /* 패딩 조정 */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-select:hover {
    cursor: pointer;
}

.form-input {
    margin-left: 65px;
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc; /* border 색을 연한 회색으로 변경 */
    outline: none; /* 포커스 시 기본 outline 제거 */
}

.input-group {
    margin-left: 40px;
    width: 400px;
}

.input-group-small {
    width: 200px;
    margin-left: 0px;
}

.calen {
    display: flex;
    margin-left: 40px;
}

.form-select-two {
    width: 200px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.major {
    margin-left: 55px;
    display: flex;
    justify-content: center;
}

.wid {
    width: 200px;
}

.delete-button {
    background-color: #ffffff;
    color: #2e406a;
    border: 1px solid #2e406a;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.delete-button:hover {
    background-color: var(--main-bg-color);
    color: white;
    transition: .5s all;
}

.add-button {
    background-color: #2e406a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.material-icons-outlined {
    font-size: 20px;
}

.material-icons-outlined:hover {
    cursor: pointer;
}

.buttons {
    margin-left: 620px;
    gap: 20px;
    display: flex;
}

.table-bordered th {
    background-color: #2e406a;
    color: #ffffff;
}

.table-bordered {
    width: 100%;
}

.table-bordered {
    width: 100%;
    border-collapse: collapse;
}

.table-bordered th, .table-bordered td {
    text-align: center;
    vertical-align: middle;
    padding: 15px;
}

.table-bordered th {
    background-color: #2e406a;
    color: #ffffff;
    height: 50px;
}

.table-bordered td {
    height: 50px;
}

.technical-table-container {
    margin-top: 20px;
    height: auto;
    max-height: 500px;
    overflow-y: auto;
}

.issuance-info {
    margin-top: 150px;
    height: 100px;
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-content: center;
}

.datepicker.dropdown-menu {
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    border: none;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.datepicker .datepicker-days .table-condensed thead {
    background-color: #2e406a;
    color: #ffffff;
}

.datepicker table tr td,
.datepicker table tr th {
    text-align: center;
    padding: 10px;
}

.datepicker table tr td.day:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.datepicker .day.today {
    background-color: #2e406a;
    color: #ffffff;
    border-radius: 50%;
}

.datepicker .day.active {
    background-color: #1c2c4b;
    color: #ffffff;
    border-radius: 50%;
}

.datepicker .prev,
.datepicker .next {
    color: #ffffff;
}

.datepicker .prev:hover,
.datepicker .next:hover {
    color: #2e406a;
}

.datepicker .datepicker-switch {
    font-weight: bold;
}