.research_title {
    height: 200px;
    width: 100%;
    align-content: center;
}

.research_title p {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.title_warning {
    display: flex;
    justify-content: space-around;
}

.title {
    font-size: x-large;
    font-weight: bold;
}

.warning {
    margin-left: 800px;
    color: #FF0000;
    font-weight: bold;
}

hr {
    height: 2px;
    background-color: #000000;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    opacity: unset;
}

.academic-list, .career-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.list {
    height: auto;
    margin-bottom: 20px;
    box-sizing: border-box;
    flex: 1;
}

.list, .inline-wrap {
    box-sizing: border-box;
}

.academic-info, .career-info {
    height: auto;
    width: 100%;
}

.warn {
    color: #FF0000;
    font-weight: bold;
}

.inline-wrap {
    align-items: center;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.form-control {
    width: 550px;
}

.form-select {
    height: 40px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-select:hover {
    cursor: pointer;
}

.form-input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

#institutionTable:hover{
    cursor: pointer;
}

.calen {
    display: flex;
}

.form-select-two {
    width: 290px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
}

.form-select-two:hover {
    cursor: pointer;
}

.major {
    display: flex;
}

.wid {
    width: 200px;
}

.delete-button {
    background-color: #ffffff;
    color: #2e406a;
    border: 1px solid #2e406a;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.delete-button:hover {
    background-color: var(--main-bg-color);
    color: white;
    transition: .5s all;
}

.add-button {
    background-color: #2e406a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.material-icons-outlined {
    font-size: 20px;
}

.material-icons-outlined:hover {
    cursor: pointer;
}

.buttons {
    margin-left: 620px;
    gap: 20px;
    display: flex;
}

.table-bordered th {
    background-color: #2e406a;
    color: #ffffff;
}

.table-bordered {
    width: 100%;
}

.table-bordered {
    width: 100%;
    border-collapse: collapse;
}

.table-bordered th, .table-bordered td {
    text-align: center;
    vertical-align: middle;
    padding: 15px;
}

.table-bordered th {
    background-color: #2e406a;
    color: #ffffff;
    height: 50px;
}

.table-bordered td {
    height: 50px;
}

.technical-table-container {
    margin-top: 20px;
    height: auto;
    max-height: 500px;
    overflow-y: auto;
}

.issuance-info {
    margin-top: 150px;
    height: 100px;
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-content: center;
}

.datepicker.dropdown-menu {
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    border: none;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.datepicker .datepicker-days .table-condensed thead {
    background-color: #2e406a;
    color: #ffffff;
}

.datepicker table tr td,
.datepicker table tr th {
    text-align: center;
    padding: 10px;
}

.datepicker table tr td.day:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.datepicker .day.today {
    background-color: #2e406a;
    color: #ffffff;
    border-radius: 50%;
}

.datepicker .day.active {
    background-color: #1c2c4b;
    color: #ffffff;
    border-radius: 50%;
}

.datepicker .prev,
.datepicker .next {
    color: #ffffff;
}

.datepicker .prev:hover,
.datepicker .next:hover {
    color: #2e406a;
}

.datepicker .datepicker-switch {
    font-weight: bold;
}

.form-group {
    align-content: center;
    width: 95%;
    height: 60px;
    background-color: #DDDDDD;
}

.modal-dialog {
    max-width: 1000px;
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.technical-table-container {
    margin-top: 20px;
    max-height: 300px;
    overflow-y: auto;
}

.table-bordered th {
    background-color: #2e406a;
    color: #ffffff;
}

.table-bordered td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.modal-header {
    background-color: #2e406a;
    color: #ffffff;
    border-bottom: none;
}

.btn-close {
    border: none;
    color: #ffffff;
    opacity: 1;
}

.btn-close:hover {
    color: #d9d9d9;
    cursor: pointer;
}

.technical-tree-container {
    margin-top: 20px;
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
}

.searchBtn {
    width: 50px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    padding: 20px;
}

.modal-footer {
    justify-content: center;
}

.technical-tree-container {
    width: 100%;
    max-width: 600px;
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#institutionTableBody input, #workInstitutionTableBody input{
    width: 20px;
    height: 20px;
}

.institution-table-container {
    height: 500px;
    overflow-y: auto;
    width: 95%;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

.title_career {
    display: flex;
    margin-left: 20px;
}

.search {
    display: flex;
    justify-content: center;
}

.input{
    width: 100% !important;
}