.common-main {
    width: 95%;
    margin: auto;
    margin-top: 20px;
}

.title {
    height: 100px;
    width: 100%;
    align-content: center;
}

hr {
    color: #d8d8d8;
}

.title p {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #333;
}

.committee-setting {
    height: 180px;
    align-content: center;
    justify-content: center;
    background-color: #2e406a;
}

.committee-setting .setting-text {
    color: white;
    margin-left: 10px;
}

.committee-standby {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border: 1px solid #666565;
}

.committee-info {
    height: 400px;
}

.committee-summary {
    height: 50px;
    background-color: #2e406a;
}

.committee-btn {
    height: 100px;
}

.setting-one, .setting-two, .setting-three {
    display: flex;
}

.committee-setting input {
    border-radius: 5px;
    border: none;
    background-color: #B9B9B9;
    width: 800px;
    align-content: center;
    text-align: center;
    height: 33px;
    margin-left: 20px;
    margin-right: 20px;
}

.small {
    width: 100px !important;
}

.medium {
    width: 200px !important;
    background-color: #ffffff !important;
}

.committee-info {
    display: flex;
}

.committee {
    height: 100%;
    width: 55%;
}

.committee-card {
    height: 100%;
    width: 45%;
    border: 1px solid #666565;
}

.table-container {
    width: 100%;
    background-color: #fff;
    position: relative;
}

.committee-table {
    width: 100%;
}

.committee-table th, .committee-table td {
    padding: 15px;
    text-align: center;
    border: 1px solid #666565;
}

.committee-table thead {
    background-color: #2e406a;
    color: #ffffff;
]
}

.table-body-container {
    max-height: 340px;
    overflow-y: auto;
}

.status {
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
}

.status.not-approved {
    color: #ff4d4d;
    border: 1px solid #ff4d4d;
    background-color: #ffffff;
}

.status.approved {
    color: #28a745;
    border: 1px solid #28a745;
    background-color: #ffffff;
}

.card {
    padding: 15px;
    margin: 10px 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-part {
    display: flex;
    justify-content: center;
    align-content: center;

}

.card-row {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.card-label {
    font-weight: bold;
    color: #333;
}

.card-value {
    color: #666;
}

.card-status {
    text-align: center;
    margin-top: 10px;
}

.committee-btn {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.add-button, #composeButton {
    border: none;
}

.delete-button {
    background-color: #ffffff;
    color: #2e406a;
    border: 1px solid #2e406a;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-right: 20px;
}

.delete-button:hover {
    background-color: #FF8F27FF;
    color: white;
    transition: .5s all;
}

.committee-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2e406a;
    color: #ffffff;
    padding: 10px 20px;
}

.summary-item {
    flex: 1;
    text-align: center;
}

.summary-item:first-child {
    text-align: left;
}

.summary-item:last-child {
    text-align: right;
}