.line {
    border-top: 1px solid #000;
    margin: 20px 0;
}

.domain > th {
    background-color: #2E406AFF;
    color: white;
}

.blue > td {
    background-color: #e4ebfd !important;
}

.letter {
    font-size: 14px;
    font-weight: bolder;
}

.btn-back-indigo {
    background-color: #2E406AFF;
    color: #ffffff;
}

.btn-back-indigo:hover {
    border-color: #2E406AFF;
}

.blue-font {
    color: #2F69FF !important;
}

.btn-back-orange {
    background-color: #ff8f27;
    color: #ffffff;
}

.btn-back-orange:hover {
    border-color: #ff8f27;
}

.btn.btn-outline-primary {
    font-size: 9px;
}

.btn.btn-outline-danger {
    font-size: 9px;
}

.btn.btn-outline-secondary {
    font-size: 9px;
}
