.nav-tabs .nav-link.active {
  background-color: var(--main-bg-color);
  color: white;
}

.ctm-btn-normal {
  background-color: var(--main-bg-color);
  width: 120px;
  height: 38px;
  color: white;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctm-btn-normal:hover {
  background-color: #ffffff;
  border: 2px solid var(--main-bg-color);
  color: var(--main-bg-color);
  transition: 0.3s all;
}
.blue {
  background-color: #e5f5ff;
}

.score {
  width: 20%;
  border: 1px solid #ccc;
  border-radius: 10px;
  float: right;
  padding-right: 30px;
}

.domain {
  background-color: var(--main-bg-color) !important;
  color: #ffffff !important;
}

.blue {
  background-color: #e4ebfd !important;
  color: #ffffff !important;
}

.line {
  border-top: 1px solid #000;
  margin: 20px 0;
}

.letter {
  font-size: 14px;
  font-weight: bolder;
}

.table-container {
  overflow: hidden;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}