.question .remove-question {
  display: none;
}

.question:hover .remove-question {
  display: block;
}

.card:hover .delete-btn {
  display: block;
}

.domain > td {
  background-color: #2e406aff;
  color: white;
}

.blue {
  background-color: #e4ebfd !important;
}

.right-box-2-round {
  background-color: var(--main-bg-color);
  height: 20px;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  margin: 0;
}

.letter1 {
  font-size: 14px;
  font-weight: normal;
}

.line {
  border-top: 1px solid #000;
  margin: 20px 0;
}

.truncate-text {
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.truncate-text1 {
  max-width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.full-text {
  white-space: normal;
}

.tab-section {
  display: none;
}

.btn-circle {
  background-color: #2f3f6a;
  color: #ffffff;
  width: 25px; /* 버튼의 너비 조절 */
  height: 25px; /* 버튼의 높이 조절 */
  border-radius: 50%; /* 원형으로 만들기 */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 12px; /* 글자 크기 조절 */
  padding: 0; /* 내부 여백 조절 */
}

.letter {
  font-size: 20px !important;
  font-weight: normal !important;
}

.rounded-table {
  border-radius: 5px; /* 원하는 둥글기 설정 */
  overflow: hidden; /* 테두리 안의 내용이 둥글게 보이도록 함 */
}

.nav-link.custom-nav-link {
  background-color: #2e406a; /* 원하는 배경색 */
  color: white; /* 글자색 */
}


.btn-back-indigo {
  background-color: #2E406AFF;
  color: #ffffff;
}

.btn-back-indigo:hover {
  border-color: #2E406AFF;
}


.ctm-btn-blue {
  background-color: #2E406AFF !important; /* 기본 상태의 배경색 */
  width: 170px;
  height: 38px;
  color: #ffffff !important; /* 텍스트 색상 */
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent; /* 기본 상태의 테두리 색상 설정 */
  transition: 0.3s all; /* 부드러운 전환 효과 */
}

.ctm-btn-blue:hover {
  width: 170px;
  background-color: #ffffff !important; /* 호버 상태의 배경색 */
  border: 2px solid #2E406AFF !important; /* 호버 상태에서 테두리 색상 설정 */
  color: #2E406AFF !important; /* 호버 상태에서 텍스트 색상 */
}

.ctm-btn-orange {
  background-color: #ff8f27 !important; /* 기본 상태의 배경색 */
  width: 100px;
  height: 38px;
  color: #ffffff !important; /* 텍스트 색상 */
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  transition: 0.3s all;
}

.ctm-btn-orange:hover {
  background-color: #ffffff !important;
  border: 2px solid #ff8f27 !important;
  color: #ff8f27 !important;
}

.ctm-btn-white {
  background-color: #ffffff !important;
  width: 100px;
  height: 38px;
  color: #ff8f27 !important;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ff8f27 !important;
  transition: 0.3s all;
}

.ctm-btn-white:hover {
  background-color: #ff8f27 !important;
  border: 2px solid transparent;
  color: #ffffff !important;
}

.ctm-btn-orange1 {
  background-color: #ff8f27 !important;
  width: 65px;
  height: 38px;
  color: #ffffff !important;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  transition: 0.3s all;
}

.ctm-btn-orange1:hover {
  background-color: #ffffff !important;
  border: 2px solid #ff8f27 !important;
  color: #ff8f27 !important;
}

.ctm-btn-white1 {
  background-color: #ffffff !important;
  width: 65px;
  height: 38px;
  color: #ff8f27 !important;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ff8f27 !important;
  transition: 0.3s all;
}

.ctm-btn-white1:hover {
  background-color: #ff8f27 !important;
  border: 2px solid transparent;
  color: #ffffff !important;
}



