.delete-btn {
  display: none;
  font-size: 12px;
  background-color: white;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 2px 5px;
  cursor: pointer;
  background-color: red;
}

.card:hover .delete-btn {
  display: block;
}

.domain > th {
  background-color: #2e406aff;
  color: white;
}

.blue {
  background-color: #e4ebfd !important;
}

.right-box-2-round {
  background-color: var(--main-bg-color);
  height: 20px;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  margin: 0;
}

.letter {
  font-size: 12px;
  font-weight: bold;
}

.line {
  border-top: 1px solid #000;
  margin: 20px 0;
}

.truncate-text {
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.truncate-text1 {
  max-width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.full-text {
  white-space: normal;
}

.tab-section {
  display: none;
}

.btn-circle {
  border-radius: 90%;
  background-color: #2f3f6a;
  color: #ffffff;
}
