.question .remove-question {
  display: none;
}

.question:hover .remove-question {
  display: block;
}

.card:hover .delete-btn {
  display: block;
}

.domain > th {
  background-color: #2e406aff;
  color: white;
}

.blue {
  background-color: #e4ebfd !important;
}

.right-box-2-round {
  background-color: var(--main-bg-color);
  height: 20px;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  margin: 0;
}

.letter {
  font-size: 12px;
  font-weight: bold;
}

.line {
  border-top: 1px solid #000;
  margin: 20px 0;
}

.truncate-text {
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.truncate-text1 {
  max-width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.full-text {
  white-space: normal;
}

.tab-section {
  display: none;
}

.btn-circle {
  background-color: #2f3f6a;
  color: #ffffff;
  width: 25px; /* 버튼의 너비 조절 */
  height: 25px; /* 버튼의 높이 조절 */
  border-radius: 50%; /* 원형으로 만들기 */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 12px; /* 글자 크기 조절 */
  padding: 0; /* 내부 여백 조절 */
}
