.truncate-text {
    cursor: pointer;
}

.truncate-text1 {
    cursor: pointer;
}

.line {
    border-top: 1px solid #000;
    margin: 20px 0;
}

.domain > td {
    background-color: #2E406AFF;
    color: white;
}

.blue > td {
    background-color: #e4ebfd !important;
}

.letter {
    font-size: 14px;
    font-weight: normal;
}

.btn-back-indigo {
    background-color: #2E406AFF;
    color: #ffffff;
}

.btn-back-indigo:hover {
    border-color: #2E406AFF;
}

.ctm-btn-blue {
    background-color: #ffffff;
    width: 60px;
    height: 38px;
    color: var(--main-bg-color);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--main-bg-color);
    transition: 0.3s all;
}

.ctm-btn-blue:hover {
    background-color: var(--main-bg-color);
    border: 2px solid transparent;
    color: white;
}

.ctm-btn-red {
    background-color: #ffffff;
    width: 60px;
    height: 38px;
    color: #d67575;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #d67575;
    transition: 0.3s all;
}

.ctm-btn-red:hover {
    background-color: #d67575 !important;
    border: 2px solid transparent;
    color: white;
}

.ctm-btn-orange {
    background-color: #ff8f27;
    width: 90px;
    height: 38px;
    color: #ffffff;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ff8f27;
    transition: 0.3s all;
}

.ctm-btn-orange:hover {
    background-color: #ff8f27 !important;
    border: 2px solid transparent;
    color: white;
}

.ctm-btn-orange:active {
    color: #ffffff !important;
    border: 2px solid #ffffff !important;
    background-color: #ff8f27 !important;
}

.ctm-btn-gray:disabled {
    background-color: #ffffff;
    color: #cfcfcf;
    border: 2px solid #cfcfcf;
    cursor: not-allowed;
    opacity: 0.6;
}

.ctm-btn-orange:disabled {
    background-color: #fff3f3;
    color: #cfcfcf;
    border: 2px solid #ff8f27;
    cursor: not-allowed;
    opacity: 0.6;
}


.cc {
    color: #d67575 !important;
}

.blue-font {
    color: #2F69FF !important;
}

.btn.btn-outline-primary {
    font-size: 9px;
}

.btn.btn-outline-danger {
    font-size: 9px;
}

.btn.btn-outline-secondary {
    font-size: 9px;
}

.btn.btn-back-orange {
    font-size: 9px;
}

.btn-back-orange:hover {
    border-color: #ff8f27;
}
