.truncate-text {
    cursor: pointer;
}

.truncate-text1 {
    cursor: pointer;
}

.modify {
    margin-top: 50px
}

.hidden-row {
    display: none;
}

.icon {
    cursor: pointer;
}

.domain > td {
    background-color: #2E406AFF !important;
    color: white !important;
}

.blue > td {
    background-color: #e4ebfd !important;
}

.blue > th {
    background-color: #e4ebfd !important;
}

.blue {
    background-color: #e4ebfd !important;
}

.arrow.down::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%235f6368"><path d="M400-280v-400l200 200-200 200Z"/></svg>');
}

.arrow.up::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%235f6368"><path d="M480-360 280-560h400L480-360Z"/></svg>');
}

.btn-orange {
    border: 1px solid #ff8f27;
    color: #ff8f27;
}

.btn-back-orange {
    background-color: #ff8f27;
    color: #ffffff;
}

.btn-back-orange:hover {
    border-color: #ff8f27;
}

.btn-indigo {
    border: 1px solid #2E406AFF;
    color: #ff8f27;
}

.btn-back-indigo {
    background-color: #2E406AFF;
    color: #ffffff;
}

.btn-back-indigo:hover {
    border-color: #2E406AFF;
}

