.truncate-text {
    cursor: pointer;
}

.truncate-text1 {
    cursor: pointer;
}

.line {
    border-top: 1px solid #000;
    margin: 20px 0;
}

.modify {
    margin-top: 50px
}

.hidden-row {
    display: none;
}

.icon {
    cursor: pointer;
}

.domain > td {
    background-color: #2E406AFF !important;
    color: white !important;
}

.blue > td {
    background-color: #e4ebfd !important;
}

.blue > th {
    background-color: #e4ebfd !important;
}

.blue {
    background-color: #e4ebfd !important;
}

/*.arrow.down::before {*/
/*    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%235f6368"><path d="M400-280v-400l200 200-200 200Z"/></svg>');*/
/*}*/

.arrow.down::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 -960 960 960" width="30" fill="%235f6368"><path d="M400-280v-400l200 200-200 200Z"/></svg>');
}

/*.arrow.up::before {*/
/*    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%235f6368"><path d="M480-360 280-560h400L480-360Z"/></svg>');*/
/*}*/
.arrow.up::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="%235f6368"><path d="M480-360 280-560h400L480-360Z"/></svg>');
}

.btn-orange {
    border: 1px solid #ff8f27;
    color: #ff8f27;
}

.btn-back-orange {
    background-color: #c8b5a1;
    color: #ffffff;
}

.btn-back-orange:hover {
    border-color: #c8b5a1;
}

.btn-indigo {
    border: 1px solid #2E406AFF;
    color: #ff8f27;
}

.btn-back-indigo {
    background-color: #2E406AFF;
    color: #ffffff;
}

.btn-back-indigo:hover {
    border-color: #2E406AFF;
}


.btn-back-beige {
    background-color: #cfcfcf;
    color: #ffffff;
}

.btn-back-beige :hover {
    border-color: #cfcfcf;
}

.ctm-btn-orange {
    background-color: #ff8f27;
    width: 100px;
    height: 38px;
    color: #ffffff;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ff8f27;
    transition: 0.3s all;
    font-size: 14px;
}

.ctm-btn-orange:hover {
    background-color: #ff8f27 !important;
    border: 2px solid transparent;
    color: white;
    font-size: 14px;
}


.ctm-btn-orange1 {
    background-color: #ff8f27;
    width: 100px;
    height: 38px;
    color: #ffffff;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ff8f27;
    transition: 0.3s all;
    font-size: 14px;
}

.ctm-btn-orange1:hover {
    background-color: #ff8f27 !important;
    border: 2px solid transparent;
    color: white;
    font-size: 14px;
}

.ctm-btn-gray:disabled {
    background-color: #cfcfcf;
    color: #686767;
    border: 2px solid #cfcfcf;
    cursor: not-allowed;
    opacity: 0.6;
}

.status {
    padding: 3px 5px;
    border-radius: 20px;
    font-size: 14px;
}

.status.red {
    color: #d67576 !important;
    border: 1px solid #d67576 !important;
    background-color: #ffffff !important;
}

.status.yellow {
    color: #FFC107 !important;
    border: 1px solid #FFC107 !important;
    background-color: #ffffff !important;
}

.status.blue {
    color: #007BFF !important;
    border: 1px solid #007BFF !important;
    background-color: #ffffff !important;
}

.status.green {
    color: #4CAF50 !important;
    border: 1px solid #4CAF50 !important;
    background-color: #ffffff !important;
}

.status.purple {
    color: #673AB7 !important;
    border: 1px solid #673AB7 !important;
    background-color: #ffffff !important;
}

.status.orange {
    color: #FF9800 !important;
    border: 1px solid #FF9800 !important;
    background-color: #ffffff !important;
}

.status.gray {
    color: #6C757D ;
    border: 1px solid #6C757D ;
    background-color: #ffffff;
}