.truncate-text {
  cursor: pointer;
}

.badge {
  display: inline-block;
  padding: 0.5em;
  border-radius: 0.5em;
}

.text-bg-secondary {
  background-color: #b9b9b9 !important;
}

.text-bg-success {
  background-color: #28a745 !important;
}

.domain > td {
  background-color: #2e406aff;
  color: white;
}

.blue > td {
  background-color: #e4ebfd !important;
}

.bluee {
  background-color: #e4ebfd !important;
}

.black {
  color: #000000 !important;
}

.ctm-btn-normal {
  background-color: var(--main-bg-color);
  width: 100px;
  height: 38px;
  color: white;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctm-btn-normal:hover {
  background-color: #ffffff;
  width: 100px;
  border: 2px solid var(--main-bg-color);
  color: var(--main-bg-color);
  transition: 0.3s all;
}

.ctm-btn-mirror {
  background-color: #ffffff;
  width: 160px;
  height: 38px;
  border: 2px solid var(--main-bg-color);
  color: var(--main-bg-color);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctm-btn-mirror:hover {
  background-color: var(--main-bg-color);
  width: 160px;
  border: 2px solid var(--main-bg-color);
  color: #ffffff;
  transition: 0.3s all;
}

.ctm-btn-orange {
  background-color: #f6ae1f;
  width: 160px;
  height: 38px;
  border: 2px solid #f6ae1f;
  color: #ffffff;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctm-btn-orange:hover {
  background-color: #ffffff;
  width: 160px;
  border: 2px solid #f6ae1f;
  color: #f6ae1f;
  transition: 0.3s all;
}

.ctm-btn-orangemirror {
  background-color: #ffffff;
  width: 100px;
  height: 38px;
  border: 2px solid #f6ae1f;
  color: #f6ae1f;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctm-btn-orangemirror:hover {
  background-color: #f6ae1f;
  width: 100px;
  border: 2px solid #f6ae1f;
  color: #ffffff;
  transition: 0.3s all;
}

.chart-container {
  display: none;
}

.chart-container.active {
  display: block;
}


.letter {
  font-size: 14px;
  font-weight: normal;
}

.letter1 {
  font-size: 20px;
  font-weight: normal;
}

.table-rounded {
  border-radius: 0.5rem;
  overflow: hidden;
}

.custom-divider {
  height: 2px;
  background-color: var(--main-bg-color);
  margin: 10px 0;
  border-radius: 5px;
  position: relative;
}

.custom-divider:before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid var(--main-bg-color);
  border-radius: 50%;
}

.custom-divider2 {
  height: 2px;
  background-color: var(--main-bg-color);
  margin: 10px 0;
  border-radius: 5px;
  position: relative;
}

.custom-divider2:before {
  content: '';
  position: absolute;
  left: 50%;
  top: -18px;
  transform: translate(-50%, 0);
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid var(--main-bg-color);
  border-radius: 50%;
}

